body,table{font-family:Arial;font-size:13px;text-align:center;color:#555}
h1,h2,h3{font-weight:normal}
#memcached-graph{width:900px;height:300px;margin:auto;font-size:10px;margin-bottom:20px}
table{border-collapse:collapse;width:600px;margin:auto}
	th,td{padding:8px;border-bottom:1px solid #CCC;text-align:left}
		th{background:#EEE;width:135px}